.css_full_width {
    width: 100%;
}

.css_20vh {
    height: 20vh;
}

.css_40vw {
    width: 40vw;
}

.css_third_width {
    width: 35vw
}

.css_side_menu_col {
    width: 50px;
    margin-top: -11px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 18px;
    padding-left: 0;
    padding-right: 0;
    height: 60px;
    border-radius: 10px;
    text-align: center;
}